<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/filter-solid.svg" width="45px" height="45px" alt="">
      Filtros
    </a>
  </div>
</nav>

<form [formGroup]="miFormulario" (ngSubmit)="filtrar()">
<div class="row  m-3">
  <div class="col-4">
    <label class="form-label"><strong>Clave</strong></label>
    <input type="number" formControlName="clave" class="form-control">
  </div>
  <div class="col-3">    
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="miFormulario" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>    
  </div>

  <div class="col-2">
    <button [disabled]="miFormulario.invalid" type="submit" class="btn btn-primary btn-block mt-4">Generar reporte</button>
  </div>
</div>
</form>




<ng-container *ngIf="miFormulario.valid">

  <div class="card m-3">
    <div class="card-header">
      <strong>Reporte</strong>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i>Filtrar</span>
          <input type="text" class="form-control">
        </div>
    </div>
  </div>

  <div class="text-center">
    <table class="table table-primary">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Lector</th>
          <th>Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Entrada</td>
          <td>Vehiculo 1 Entrada</td>
          <td>2023-3-21 14:42:24</td>
        </tr>
        <tr>
          <td>Entrada</td>
          <td>Vehiculo 1 Entrada</td>
          <td>2023-3-23 15:12:14</td>
        </tr>
        <tr>
          <td>Salida</td>
          <td>Salida vehicular</td>
          <td>2023-4-1 18:22:54</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</ng-container>
